<table id="myTable" class="table table-stripped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Pid</th>
      <th>Name</th>
      <th>Cost</th>
      <th colspan="3" text-align="center">Options</th>
    </tr>
  </thead>

  <tbody id="tbody">
    <% @products.each do |product| %>
      <tr>
        <%= form_tag({ controller: 'products', action: 'update_text' }, method: 'post', remote:true ,id:"myform") do %>
        <td><input class="pro_id" type="text" name="pid"  value="<%=product.pid%>" placeholder=""  style="border:0px;" readonly></td>
        <td><input class="pro_name" type="text" name="name"  value="<%=product.name%>" placeholder=""  style="border:0px;" readonly></td>
        <td><input class="pro_cost" type="text" name="cost" value="<%=product.cost%>" placeholder=""  style="border:0px;" readonly></td>
        <td><a class="edit"  value="<%=product.pid%>">Edit</a>
          <%= submit_tag "update" ,class:"update"%> 
              <% end %>
              <button type="button" class="cancel" style="display:inline">Cancel</button>
        </td>        
        <td><%= link_to 'Destroy', products_delete_text_path(pid: product.pid),id:"D_#{product.pid}",class:"delete", method: :post,remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>



</table>