
<table id="myTable" class="table table-stripped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Pid</th>
      <th>Name</th>
      <th>Cost</th>
      <th colspan="3" text-align="center">Options</th>
    </tr>
  </thead>
<%@products=Product.all.order("pid desc")%>
  <tbody id="tbody">
    <% @products.each do |product| %>
      <tr id="<%=product.pid%>">
        <td><input class="pro_id" type="text" name="pid"  value="<%=product.pid%>" placeholder=""  style="border:0px;" readonly></td>
        <td><input class="pro_name" type="text" name="name"  value="<%=product.name%>" placeholder=""  style="border:0px;" readonly ></td>
        <td><input class="pro_cost" type="text" name="cost" value="<%=product.cost%>" placeholder=""  style="border:0px;" readonly></td>
        <td><a class="edit"  value="<%=product.pid%>">Edit</a>
            <a style="color:black" id="u_<%=product.pid%>" class="update" href='/products/update_text' data-method="post" data-remote="true"><button  type="button">Update</button></a>
            <button type="button" class="cancel" style="display:inline">Cancel</button>
        </td>        
        <td><%= link_to 'Destroy', products_delete_text_path(pid: product.pid, name:product.name),id:"D_#{product.pid}",class:"delete", method: :post,remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>


<!-- <button type="button" id="myajax">myajax</button>
 --></table>
<script type="text/javascript">
$(document).ready(function(){

  $(".update").click(function(){
    cost=$(this).parent().parent().find(".pro_cost").val();
    name=$(this).parent().parent().find(".pro_name").val();
    pid=$(this).parent().parent().find(".pro_id").val();
    myref="/products/update_text?pid="+pid+"&name="+name+"&cost="+cost;
    $(this).parent().parent().find(".update").attr("href",myref);
  });
  $("#create").css("display","none");
  $(".update").css("display","none");
  $(".cancel").css("display","none");

  $(".edit").click(function(){
    $(this).hide()
    $("#create").css("display","none");

    $(this).siblings(".update").css("display","inline");
    $(this).siblings(".cancel").css("display","inline");
    $(this).parent().parent().find(".pro_name").removeAttr("readonly");
    $(this).parent().parent().find(".pro_cost").removeAttr("readonly");
    $(this).parent().parent().find(".pro_name").css("border","1px solid #31b0d5");
    $(this).parent().parent().find(".pro_name").css("width","100%");
    $(this).parent().parent().find(".pro_cost").css("border","1px solid #31b0d5");
    $(this).parent().parent().find(".pro_cost").css("width","100%");

  });
  $("#new").click(function(){
    $(this).css("display","none");
    $(".update").css("display","none");
    $("#create").css("display","inline");

  });

$(".cancel").click(function(){
    $("#new").css("display","block");
    $(this).css("display","none");
    $(this).siblings(".update").css("display","none");
    $(this).siblings(".edit").css("display","inline");
    $(this).parent().parent().find(".pro_name").attr("readonly","true");
    value=$(this).parent().parent().find(".pro_name").attr("value");
    $(this).parent().parent().find(".pro_name").val(value);
    value=$(this).parent().parent().find(".pro_cost").attr("value");
    $(this).parent().parent().find(".pro_cost").val(value);
    $(this).parent().parent().find(".pro_cost").attr("readonly","true");
    $(this).parent().parent().find(".pro_name").css("border","0px solid #31b0d5");
    $(this).parent().parent().find(".pro_cost").css("border","0px solid #31b0d5");
  });
// $(".bt").click(function(){
//     $("#name").attr("name","");$("#cost").attr("cost","");
//   });
})
  
</script>
<style type="text/css" media="screen">
  #myform{
    display:inline;

  }
  #new_form{
    display:inline;
  }
</style>